<ion-content [fullscreen]="true" color="danger">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title> Minhas Tarefas </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../../assets/icon/checklist.png" alt=""></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>LISTA DE TAREFAS</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aqui você encontrará ajuda para manejar seus horários e tarefas!!
    </ion-card-content>
  </ion-card>
</ion-content>
